MANIFEST
.chalice
.DS_Store
.project
.pydevproject
.pytest_cache
.ropeproject
bundle.html
bundle.prod.html
celerybeat-schedule.db
celerybeat-schedule
dump.rdb
npm-debug.log
yarn.lock
.python-version
newrelic.ini

# File types to ignore recursively
*.c
*.cpp
*.egg
*.py[cod]
*.pyxbldc
*.so
*.o
*.Prof
*.sw?
~$*.xls
~$*.xlsx
.coverage
.coverage.*
*.tfstate
*.tfstate.backup
*.lock.hcl

# Directories to ignore recursively
*.egg-info/
.awcache/
.eggs/
.idea/
.settings/
.testrepository/
.tox/
.venv/
venv/
.vscode/
build/
dist/
node_modules/
__pycache__/
.terraform/
secrets/
